{% load static %}
<html>
    <head>
        <title>Enroll Member</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel = "stylesheet" href = "{% static 'style_am.css' %}">
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class = "hero">
        <div class = "nav-bar">
            <div class = "nav-logo">
                <img src="{%static 'download.png' %}">
            </div>
            <div class="nav-links" id="nav-links">
                <i class="fa fa-close" onclick="closeMenu()"></i>
                <ul>
                    <a href="prsnl_dtls.html"><li>Personal Details</li></a>
                    <a href="#"><li>Schedule Class</li></a>
                    <a href="#"><li>Schedule Exam</li></a>
                    <a href="#"><li>Publish Results</li></a>
                    <a href="{% url 'onlineclass:Logout' %}"><li>Log Out</li></a>
                </ul>
                <a href="homep_enroll.html"><button type="button" class="btn">Enroll Member</button></a>
            </div> 
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </div>
        <div class="vertical-bar">
            <div class="search-icon">
                <i class="fa fa-th-list"></i>
                <i class="fa fa-search"></i>
            </div>
            <div class="help-icon">
                <i class="fa fa-comments"></i>
                <i class="fa fa-question"></i>
            </div>    
        </div> 
        <div class="form-box">
            	<div class="row">
     <form id="Register" class="input-group" action="{% url 'onlineclass:register' %}" method="POST" enctype="multipart/form-data">
  <div class="column ";>
     <label for="fname">Upload File:</label><br><br> 
      <label for="mname">Student/Teacher</label><br><br>
  </div>
  <div class="column" ;>
   <input type="file" id="fname" name="file1" required><br><br>
    <select name="type" id="mname" required="">
  <option value="2">Teacher</option>
  <option value="3">Student</option>
</select>
  </div>
        </div>   
        <div>
    <input type="submit" />  
</div>  
  
</div>
{% csrf_token %}
</form>
        <script>
            var show = document.getElementById("nav-links");
            function showMenu(){
                show.style.right = "0";

            }
            function closeMenu(){
                show.style.right = "-200px";
                
            }
        </script>
    </body>
</html>